<div class="container mt-5">
        <div class="row tm-content-row">
          <div class="col-12 tm-block-col">
              <h1 class="tm-block-title text-center" style="font-size:50px;">Quên mật khẩu</h1>
          </div>
        </div>
        <!-- row -->
        <div class="row tm-content-row">
          <div class="col-2"></div>
          <div class="col-8">
            <div class="tm-bg-primary-dark tm-block tm-block-settings">
              <form action="" class="tm-signup-form row">
                <div class="form-group col-lg-12">
                  <label for="email">Email đã đăng ký</label>
                  <input
                    id="email"
                    name="email"
                    type="email"
                    class="form-control validate"
                  />
                <br>
                </div>
                <div class="col-4"></div>
                <div class="col-4">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block text-uppercase"
                  >
                    Gửi
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-2"></div>
        </div>
      </div>
          <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->
